<p id="notice"><%= notice %></p>

<p>
  <strong>Voupes file:</strong>
  <%= @model.voupes_file %>
</p>

<p>
  <strong>File name:</strong>
  <%= @model.file_name %>
</p>

<p>
  <strong>Auto desk url:</strong>
  <%= @model.auto_desk_url %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @model.content_type %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
