<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
    <!-- Bootstrap CSS -->
    <!-- Autodesk.ADN.Toolkit.Viewer -->
    <script src=" p.js"></script>
    <script src="upload.js"></script>
</head>

<body>
  <% if !@user.judge %>
    <div id="nav-bar" class="navbar navbar-default app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-nav-large navbar-collapse collapse" id="navbar-user">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', '/'%></li>
            <li class = "active"><%= link_to 'Upload Model', '/upload'%></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Voueps</h3> 
                </div>
                <div class="panel-body">
                    <input class="form-control" type="file" id="files" name="files" multiple />
                    <br />
                    <div>
                        <a class="btn btn-primary" id="btnTranslateThisOne">Upload File</a>
                    </div>
                    <br />
                    <div id="msg"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>Filename</th>
                      <th>View file</th>
                    </tr>
                </thead>
                <tbody>
                    <% @mods.each do |document| %>
                        <tr>
                            <td><%= document.title %></td>
                            <td><a href=<%= '/' + '?urn=' + document.urn %> style="text-decoration: none">View file</a></td>
                        </tr>
                    <% end %>
                </tbody>
            </table> 
        </div>
    </div>
  <% end %>
</body>
</html>