<!DOCTYPE html>
<html>
<head>
	<%= include_gon %>
  <title>Voueps</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>    
</body>
</html>
